@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffff2;
  --titlecolor: #31353a;
  --subtitlecolor: #909baa;
}
html {
  overflow-x: initial !important;
}

html,
body {
  color: var(--titlecolor);
  background: var(--background);
  scroll-behaviour: smooth;
}

body {
  scrollbar-color: #bfc0ce;
  &::-webkit-scrollbar,
  & *::-webkit-scrollbar {
    width: 0.6rem;
    background-color: #bfc0ce;
  }
  &::-webkit-scrollbar-thumb,
  & *::-webkit-scrollbar-thumb {
    background-color: #31353a;
    min-height: 1rem;
  }
  &::-webkit-scrollbar-thumb:focus,
  & *::-webkit-scrollbar-thumb:focus {
    background-color: #909baa;
  }
  &::-webkit-scrollbar-thumb:active,
  & *::-webkit-scrollbar-thumb:active {
    background-color: #909baa;
  }
  &::-webkit-scrollbar-thumb:hover,
  & *::-webkit-scrollbar-thumb:hover {
    background-color: #909baa;
  }
  &::-webkit-scrollbar-corner,
  & *::-webkit-scrollbar-corner {
    background-color: #bfc0ce;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: 800;
  color: var(--titlecolor);
  font-size: 100px;
}

h2 {
  font-weight: 800;
  color: var(--subtitlecolor);
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

input {
  border: 0.5px solid black;
  border-radius: 1rem;
  resize: none;
  background: var(--background);
}

button {
  background: grey;
  border: 1px solid black;
  color: black;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  border-radius: 3rem;
  padding: 0.6rem 2rem;
  font-weight: 600;
  transition: all ease 0.15s;
  &:hover {
    text-decoration: none;
    background: black;
    color: white;
  }
}

.scroll-container {
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.mainBlock {
  position: absolute;
  top: 15%;
  left: 15%;
  padding: 1rem;
}

.title {
  font-size: 100px;
}

.subtitle {
  font-size: 60px;
}

.paragraph {
  font-size: 20px;
  overflow: hidden;
  max-width: 38ch;
}

.profile {
  width: 450px;
  height: 450px;
}

.github {
  position: absolute;
  left: 90%;
  top: 80%;
}

.back {
  position: absolute;
  left: 3%;
  top: 3%;
}

@media screen and (max-width: 500px) {
  .scroll-container {
    scroll-snap-type: none;
  }

  h1 {
    font-size: 50px;
  }

  .title {
    font-size: 45px;
  }

  .subtitle {
    font-size: 30px;
  }

  .mainBlock {
    position: static;
    padding-left: 5rem;
  }

  .titleHome {
    margin-top: 5rem;
  }

  section {
    height: fit-content;
  }
}
