@tailwind base;
@tailwind components;
@tailwind utilities;

// https://coolors.co/08090a-a7a2a9-f4f7f5-575a5e-222823

//Custom font-family from Google Fonts (Nunito)
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap");

:root {
  --background1: #fffff2;
  --background: #e8e8e8;
  --titlecolor: #222823;
  --subtitlecolor: #6c686d;
  --altText2: #a7a2a9;
  --span2: #dab894;
  --text: #575a5e;
  --weight: 800;
}

/* html {
  overflow-x: initial !important;
}
*/

html {
  scroll-behavior: smooth !important; /* In order for smooth scroll to work */
  font-family: "Nunito", sans-serif;
}

/* All the snapping stuff */
.scroll-container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  scrollbar-color: #bfc0ce;
  color: var(--titlecolor);
  background-color: var(--background);
  display: block;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  &::-webkit-scrollbar,
  & *::-webkit-scrollbar {
    width: 0.6rem;
    background-color: #bfc0ce;
  }
  &::-webkit-scrollbar-thumb,
  & *::-webkit-scrollbar-thumb {
    background-color: #31353a;
  }
  &::-webkit-scrollbar-thumb:focus,
  & *::-webkit-scrollbar-thumb:focus {
    background-color: #909baa;
  }
  &::-webkit-scrollbar-thumb:active,
  & *::-webkit-scrollbar-thumb:active {
    background-color: #909baa;
  }
  &::-webkit-scrollbar-thumb:hover,
  & *::-webkit-scrollbar-thumb:hover {
    background-color: #909baa;
  }
  &::-webkit-scrollbar-corner,
  & *::-webkit-scrollbar-corner {
    background-color: #bfc0ce;
  }
}

body.scroll-to-top {
  position: fixed !important;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: var(--weight);
  color: var(--titlecolor);
}

h2 {
  font-weight: var(--weight);
  color: var(--subtitlecolor);
}

h3 {
  font-weight: var(--weight);
  color: var(--subtitlecolor);
}

p {
  color: var(--text);
}

img {
  width: 100%;
  display: block;
}

header {
  width: 100%;
  z-index: 1000;
  max-height: 12rem;
  display: flex;
  flex-direction: row;
  position: fixed;
}

main {
  outline: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 100vh;
  padding: 3rem 10rem;
  background-color: var(--titlecolor);
  color: var(--background);
}

section {
  z-index: 3;
  user-select: auto;
  padding: 2rem;
  padding: 2rem 10rem;
  background-color: var(--background);
  scroll-snap-align: center;
}

.sectionBg1 {
  background-color: var(--background);
}

.sectionBg2 {
  background-color: var(--titlecolor);
}

article {
  width: 100%;
}
input {
  border: 0.5px solid black;
  border-radius: 1rem;
  resize: none;
  background: var(--background);
  max-width: 45ch;
}

input,
input::placeholder,
textarea {
  font-size: clamp(0.5rem, 0.5vw + 0.8rem, 10rem);
}

button {
  background: var(--titlecolor);
  border: 1px solid black;
  color: var(--background1);
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  transition: all ease 0.15s;
  width: fit-content;
  &:hover {
    text-decoration: none;
    opacity: 0.5;
    background: var(--titlecolor);
    color: var(--background1);
  }
}

span {
  color: var(--titlecolor);
}
.span2 {
  color: var(--span2);
}

label {
  font-size: clamp(0.4rem, 1vw + 0.4rem, 10rem);
}

#app {
  position: relative;
}

.mainBlock {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  //align-items: center;
}

.title {
  font-size: clamp(2rem, 4vw + 0.5rem, 20rem);
}

.subtitle {
  font-size: clamp(1rem, 3vw + 0.5rem, 15rem);
}

.paragraph {
  font-size: clamp(0.5rem, 1vw + 0.5rem, 10rem);
  // overflow: hidden;
}

.titleAlt {
  color: var(--background);
  align-self: flex-start;
}

.subtitleAlt {
  color: var(--background);
}

.paragraphAlt {
  color: var(--background);
}

.pTilePosition {
  top: 87%;
  right: 3%;
}

.shade {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
  background-size: cover;
  opacity: 1;
  &:hover {
    opacity: 0.9;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.swiper-pagination-bullet-active {
  background: var(--background1) !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 80px !important;
  color: var(--background1);
}

.hamburger-react,
.hamburger-react div {
  transition: all 0.4s ease-in-out, color 0.05s ease-in-out !important;
}

.hamburger-react.dark {
  color: var(--background);
}

.hamburger-react.light {
  color: var(--titlecolor);
}

/*

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: both; // the element will retain its final state (opacity: 1) after the animation completes.
}

.is-visible {
  opacity: 1;
}

*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}

@media (max-width: 500px) {
  .mainBlock {
    justify-content: flex-start;
  }

  section {
    padding: 2rem 2.3rem;
  }
}

@media (max-width: 768px) {
  header {
    position: absolute;
    padding: 0 2rem;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 44px !important;
  }
}

@media (min-width: 700px) {
  button {
    max-width: fit-content;
  }
}
