@tailwind base;
@tailwind components;
@tailwind utilities;

// https://coolors.co/08090a-a7a2a9-f4f7f5-575a5e-222823

:root {
  --background1: #fffff2;
  --background: #e8e8e8;
  --titlecolor: #222823;
  --subtitlecolor: #6c686d;
  --altText2: #a7a2a9;
  --span2: #dab894;
  --text: #575a5e;
  --weight: 800;
}

/* html {
  overflow-x: initial !important;
}
*/

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  scrollbar-color: #bfc0ce;
  color: var(--titlecolor);
  background: var(--background);
  display: block;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  &::-webkit-scrollbar,
  & *::-webkit-scrollbar {
    width: 0.6rem;
    background-color: #bfc0ce;
  }
  &::-webkit-scrollbar-thumb,
  & *::-webkit-scrollbar-thumb {
    background-color: #31353a;
  }
  &::-webkit-scrollbar-thumb:focus,
  & *::-webkit-scrollbar-thumb:focus {
    background-color: #909baa;
  }
  &::-webkit-scrollbar-thumb:active,
  & *::-webkit-scrollbar-thumb:active {
    background-color: #909baa;
  }
  &::-webkit-scrollbar-thumb:hover,
  & *::-webkit-scrollbar-thumb:hover {
    background-color: #909baa;
  }
  &::-webkit-scrollbar-corner,
  & *::-webkit-scrollbar-corner {
    background-color: #bfc0ce;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: var(--weight);
  color: var(--titlecolor);
}

h2 {
  font-weight: var(--weight);
  color: var(--subtitlecolor);
}

h3 {
  font-weight: var(--weight);
  color: var(--subtitlecolor);
}

p {
  color: var(--text);
}

img {
  width: 100%;
  display: block;
}

header {
  width: 100%;
  z-index: 1000;
  max-height: 12rem;
  display: flex;
  flex-direction: row;
  position: fixed;
}

main {
  outline: none;
}

section {
  z-index: 3;
  user-select: auto;
  padding: 2rem;

  width: 100vw;
  padding: 0 10rem;
}

.sectionAlt {
  background-color: var(--titlecolor);
}
article {
  width: 100%;
}
input {
  border: 0.5px solid black;
  border-radius: 1rem;
  resize: none;
  background: var(--background);
}

button {
  background: var(--titlecolor);
  border: 1px solid black;
  color: var(--background1);
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  transition: all ease 0.15s;
  width: fit-content;
  &:hover {
    text-decoration: none;
    opacity: 0.5;
    background: var(--titlecolor);
    color: var(--background1);
  }
}

span {
  color: var(--titlecolor);
}
.span2 {
  color: var(--span2);
}

#app {
  position: relative;
}

.mainBlock {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  //align-items: center;
}

.title {
  font-size: clamp(2em, 5vw, 20em);
}
.subtitle {
  font-size: clamp(1em, 3vw + 1em, 15em);
}

.paragraph {
  font-size: clamp(0.5em, 1vw + 0.8em, 10em);
  // overflow: hidden;
}

.titleAlt {
  color: var(--background1);
  align-self: flex-start;
}

.subtitleAlt {
  color: var(--background1);
}

.paragraphAlt {
  color: var(--background1);
}

.paragraphShade {
  font-size: clamp(0.2em, 2vw, 5em);
  color: var(--span2);
}

.pTilePosition {
  top: 88%;
  right: 3%;
}

.shade {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(34, 40, 35, 0.9),
    rgba(34, 40, 35, 0.5),
    rgba(34, 40, 35, 0.9)
  );
  background-size: cover;
  &:hover {
    transition: all ease 0.15s;
    background: linear-gradient(
      to bottom,
      rgba(34, 40, 35, 0),
      rgba(34, 40, 35, 0),
      rgba(34, 40, 35, 0),
      rgba(34, 40, 35, 1)
    );
  }
}

.swiper {
  width: 100%;
  height: 75%;
}

.swiper-slide {
  /* Center slide text vertically */
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.swiper-pagination-bullet-active {
  background: var(--background1) !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 80px !important;
  color: var(--background1);
}

.github {
  position: absolute;
  left: 90%;
  top: 80%;
}

.back {
  position: absolute;
  left: 3%;
  top: 3%;
}

@media (max-width: 500px) {
  .mainBlock {
    justify-content: flex-start;
  }

  section {
    padding: 2rem 3rem;
  }
}

@media (max-width: 768px) {
  header {
    position: absolute;
    padding: 0 2rem;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 44px !important;
  }
}

@media (min-width: 700px) {
  button {
    max-width: fit-content;
  }
}
