@import "./variables";
@import "./backbutton";

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 100svh;
  width: $vw;
}

.loginContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $titlecolor;
  border-radius: 1rem;
  padding: 2rem 0;
  width: 80%;
}
