@import "./variables";

.Playground {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: $vw;
  opacity: 0;
}

.tile {
  box-shadow: 0 10px 30px -15px $tilebackground;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 2rem 1.75rem;
  border-radius: 5px;
  background-color: $tilebackground;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow: auto;
  transition: all ease 0.5s;
  &:hover {
    transform: translateY(-10px);
    h3 {
      color: $span2;
    }
  }
}

.tileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  & img {
    width: 50px;
    height: 50px;
  }
}

.tileTitle {
  margin: 0px 0px 10px;
  color: $background1;
  font-size: 20px;
}

.tileDescription {
  color: $background1;
  font-size: 15px;
  max-width: 35ch;
}

.techList {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 0;
  margin: 20px 0px 0px;
  list-style: none;
}

.techList li {
  margin-right: 15px;
  line-height: 1.75;
  color: $background1;
}

.buttonMore {
  margin-top: 2rem;
  background-color: $tilebackground;
  &:hover {
    background-color: $background1;
    color: $titlecolor;
  }
}
