@import "./variables";
@import "./lightbox";
@import "./backbutton";

.Projects {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: $vh;
  width: $vw;
  opacity: 0;
}

.swiperContainer {
  width: 100%;
  height: 100%;
  padding: 5rem 10rem;
}

#ProjectID {
  padding: 6rem 16rem;
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  & img {
    opacity: 0.9;
  }
  & img:hover {
    opacity: 1;
  }
  img {
    height: fit-content;
    width: fit-content;
  }
}

.title {
  font-size: clamp(2rem, 4vw + 0.5rem, 20rem);
  margin-bottom: 1.5rem;
  transition: all ease 0.5s;
  &:hover {
    color: $subtitlecolor;
  }
}

.subtitle {
  font-size: clamp(1rem, 2vw + 0.5rem, 15rem);
  color: $text;
  font-weight: 700;
}

.github {
  background: url("../assets/images/github-mark.png") no-repeat center center;
}

.web {
  background: url("../assets/images/web.png") no-repeat center center;
}

.github,
.web {
  display: inline-block;
  background-color: transparent;
  background-size: contain;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1.8rem 1.8rem;
  transition: all ease 0.5s;
  &:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 700px) {
  .pic {
    margin-top: 2rem;
    width: 100%;
  }
  .Projects {
    height: 50vh;
  }

  #ProjectID {
    padding: 1rem 1rem;
    padding-top: 5rem;
  }

  .swiperContainer {
    width: 100%;
    height: 100%;
    padding: 4rem 0.5rem;
  }
}
