@import "./variables";

.Projects {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: $vh;
  width: $vw;
}

.projectSlider {
  display: flex;
  overflow: auto;
  width: calc(100% + 10rem);
  padding-left: 50px;
  margin-bottom: 5rem;
}

@media (max-width: 700px) {
  .pic {
    margin-top: 2rem;
    width: 100%;
  }
  .Projects {
    height: 50vh;
  }
}
